#showModalButton {
    font-size: 24px;
    font-family: 'Fjalla One', sans-serif !important;
    color: #ffffff;
    background-color: #000000;
    border-radius: 10px;
    padding: 1%;
    margin: 16% auto;
    display: block;
    width: 20%;
    border: none;
}

#modalContainer {
    background-color: #8e44ad;
    min-height: 200px;
    width: 80%;
    margin: 2% auto;
    display: none;
    border-radius: 10px;
    padding: 5% 5% 3%;
}

#modalContent, #modalContent p {
    font-family: 'Average', serif !important;
    color: #ecf0f1;
    font-size: 20px;
    text-align: center;
}

#modalContent h1 {
    font-family: 'Fjalla One', sans-serif !important;
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 2%;
}

#hideModalButton {
    font-size: 24px;
    font-family: 'Fjalla One', sans-serif;
    color: #ffffff;
    background-color: #000000;
    border-radius: 10px;
    padding: 1%;
    margin: 3% 3% 0;
    border: none;
    width: 20%;
}