#paint {
    z-index: 1;
    position: absolute; 
    top: 0; 
    left:; 0; 
}
#bugModule{
    z-index: 2;
    position: relative;
}
#bugModule li {
    list-style-type: none;
}
#bugModule #create {
    background-color: #009688;
    border-radius: 0 0 50% 0;
    box-shadow: 5px 5px 5px gray;
    border: none;
    padding: 7px;
    margin-top: 2px;
}
#bugModule #create img {
    height: 25px;
    width: 25px;
}

#bugModule #myBtn {
    background-color: #009688;
    border-radius: 0 50% 0 0;
    box-shadow: 5px 5px 5px gray;
    border: none;
    padding: 7px;
    margin-top: 2px;
}
#bugModule #myBtn img {
    height: 25px;
    width: 25px;
}
#bugModule textarea {
    width: 500px;
}
#bugModule #loading {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: fixed;
    z-index: 1;
    display: none; 
}
#bugModule #formSubmit {
    border-radius: 1.5px;
    background-color: #009688;
    color: white;
    height: 27px;
    width: 66px;
    border: none;
}
#bugModule #formSubmit:hover {
    background-color: #4cb5ab;
}
#bugModule .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 25px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
#bugModule .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 45%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
#bugModule .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#bugModule .close:hover,
#bugModule .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#bugModule .modal-header {
    padding: 2px 16px;
    background-color: #009688;
    color: white;
}

#bugModule .modal-body {
    padding: 16px 26px;
}
